:root {
  --foreground: white;
  --background: #16171d;
  --borderColor: rgb(97, 97, 97);
  --themeColor: #3178C6;
  --codeBack: #282A36;

  font-family: var(--font-zen-kaku-gothic-new);
  background-color: var(--background);
  color: var(--foreground);
}

a {
  color: var(--themeColor);
  &:hover {
    filter: brightness(80%);
  }
}