---
import SplitLayout from "../../layouts/SplitLayout.astro";
import '../../styles/aboutLicense.scss';
---

<SplitLayout
  title="このアプリについて"
  fullScreen={true}
  header="ライセンス"
>
  <h1>このアプリについて</h1>
  <h2>ライセンス</h2>
  <p>このアプリのプログラム部分は，<a href="https://opensource.org/license/BSD-3-clause">The 3-Clause BSD License</a>によって保護されています．</p>
  <p>
    これはすなわち，およそ以下のことを示します．
    <ul>
      <li>プログラム・ソースコードの商用利用が可能です．</li>
      <li>ソースコードの改変利用が可能です．</li>
    </ul>
  </p>
</SplitLayout>