---
import SplitLayout from '../../layouts/SplitLayout.astro';
---

<SplitLayout
  title='ライセンス'
  header='ライセンス'
  noindex={true}
>
  <div class='root'>
    <h1>ライセンス一覧</h1>
    <p>左のリストから選択すると，詳細が表示されます．</p>
  </div>
</SplitLayout>