---
interface Props {
  title?: string;
}

const {
  title = '',
} = Astro.props;
---

<div class="root">
  <div class="return">
    <p>
      <a href="/">＜<span class="戻る">戻る</span></a>
    </p>
  </div>
  <div class="title">
    <p>{title}</p>
  </div>
  <div>

  </div>
</div>

<style lang="scss">
  .root {
    height: 33px;
    border: 0 solid var(--foreground);
    border-bottom-width: 0.5px;
    display: flex;
    justify-content: space-between;
    .return {
      display: flex;
      align-items: center;
      height: 100%;
      p {
        display: none;
        a {
          text-decoration: none;
          .戻る {
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
      @media (max-width: 830px) {
        p {
          display: inline;
        }
      }
    }
    .title {
      display: flex;
      align-items: center;
      height: 100%;
    }
  }
</style>